* {
    box-sizing: border-box;
}

.gridsquare {
    height: 50px;
    background-color: #97CADB;
}

.posed {
    background-color: #D6E8EE
}

.posed_ai {
    background-color: #D6E5EA
}

.img-fit {
    width: 60%
}